<main class="main">

<h1 class="titlePag">Àrea de Cadastro:</h1>
<form action="/cadastrar" method="post">
<label>
    <p class="titleInput">Títulos do livro:</p>
    <input class="inputText " type="text" name="titulo" placeholder="Digite o título do livro">
</label>

<label>
    <p class="titleInput">Categorias:</p>
    <input class="inputText " type="text" name="categoria" placeholder="Digite qual a categoria do livro">
</label>

<label>
    <p class="titleInput ">Descrição do livro:</p>
    <input class="inputText descI" type="text" name="descricao" placeholder="Digite a descrição do livro">
</label>

<label for="" class="pd">

<label>
    <p class="titleInput">Valor:</p>
    <input class="inputText " type="number" name="preco" placeholder="Digite o valor do livro">
</label>

<label>
    <p class="titleInput">Disponibilidade:</p>
    <input class="inputText " type="number" name="disponibilidade" placeholder="Digite quantos livros tem disponíveis">
</label>

</label>
    <input type="submit" class="subbtn" value="Cadastrar">
</form>
</main>